@use 'sass:color';

@mixin card-color($name, $color, $mode: 'light') {
    // Solid variant
    &--#{$name}-solid {
        --dux-card-background-color: #{$color};
        --dux-card-border-color: #{$color};

        // Inherit to header/footer
        & .dru--card__header {
            --dux-card-header-background-color: #{$color};
            --dux-card-header-border-color: #{$color};
        }

        & .dru--card__footer {
            --dux-card-footer-background-color: #{$color};
            --dux-card-footer-border-color: #{$color};
        }
    }

    // Outlined variant
    &--#{$name}-outlined {
        --dux-card-background-color: #{color.change($color, $alpha: 0.1)};
        --dux-card-border-color: #{$color};

        // Inherit to header/footer
        & .dru--card__header {
            --dux-card-header-background-color: #{color.change($color, $alpha: 0.2)};
            --dux-card-header-border-color: #{color.change($color, $alpha: 0.6)};
        }

        & .dru--card__footer {
            --dux-card-footer-background-color: #{color.change($color, $alpha: 0.2)};
            --dux-card-footer-border-color: #{color.change($color, $alpha: 0.6)};
        }
    }
}

@mixin perColorPalette($color-palette, $mode: 'light') {
    @each $name, $color in $color-palette {
        @include card-color($name, $color, $mode);
    }
}