@use "sass:map";

$spinner-sizes: (
    xs: (size: 1em, border: 2px),
    sm: (size: 1.2em, border: 2px),
    md: (size: 1.4em, border: 2.5px),
    lg: (size: 1.6em, border: 3.5px)
);

$button-sizes: (
    xs: (height: 1.75rem, padding: 0.25rem 0.5rem, font: 0.75rem, icon-only: (size: 1.75rem), text-icon: (gap: 0.3rem, size: 0.8em)),
    sm: (height: 2.125rem, padding: 0.25rem 0.75rem, font: 0.875rem, icon-only: (size: 2.125rem), text-icon: (gap: 0.4rem, size: 0.9em)),
    md: (height: 2.5rem, padding: 0.375rem 1.25rem, font: 1rem, icon-only: (size: 2.5rem), text-icon: (gap: 0.5rem,size: 1.1em)),
    lg: (height: 2.875rem, padding: 0.375rem 1.5rem, font: 1.125rem, icon-only: (size: 2.875rem), text-icon: (gap: 0.6rem, size: 1.3em)),
);

// LIGHT THEME COLORS
$semantic-colors: (
    primary: #4f46e5,
    //secondary: #6b7280,
    secondary: #7c828a,
    success: #16a34a,
    danger: #dc2626,
    warning: #f59e0b,
    info: #0ea5e9,
    //light: #f3f4f6,
    light: #e5e7eb,
    dark: #1f2937,
);

$extended-colors: (
    slate: #7a849e,
    gray: #7b746f,
    zinc: #75777f,
    neutral: #7f7a72,
    stone: #6f6258,
    red: #e03c3c,
    orange: #e26914,
    amber: #d9980a,
    //yellow: #d7a106,
    yellow: #f1c40f,
    lime: #78b813,
    green: #1fbe50,
    emerald: #0eb177,
    teal: #12a193,
    cyan: #05a0c0,
    sky: #0d93d6,
    blue: #3670e0,
    indigo: #5a5ed0,
    violet: #6d33da,
    purple: #862bd3,
    fuchsia: #c735e0,
    //pink: #d7418c,
    pink: #c63a7f,
    rose: #e23a52,
    //rose: #d9344b,
);

// Combined LIGHT palette
// Merge base semantic colors (used in components)
// with extended palette (utility / optional colors)
$palette-colors: map.merge($semantic-colors, $extended-colors);

//DARK THEME COLORS
$dark-extended-colors: (
    //slate: #4c5463,
    slate: #6b7384,
    //gray: #545a63,
    gray: #6b7280,
    //zinc: #59595f,
    zinc: #a1a1aa,
    //neutral: #5c5c5c,
    neutral: #a3a3a3,
    //stone: #615a55,
    stone: #a8a29e,
    //red: #b83030,
    red: #dc2626,
    //orange: #c65c0d,
    orange: #f97316,
    //amber: #b57c09,
    amber: #f59e0b,
    //yellow: #a89206,
    yellow: #fde047,
    //lime: #6fa00d,
    lime: #a3e635,
    //green: #1a8c44,
    green: #22c55e,
    //emerald: #0c8263,
    emerald: #10b981,
    //teal: #10807e,
    teal: #14b8a6,
    //cyan: #047ea8,
    //cyan: #0591b8,
    cyan: #22d3ee,
    //sky: #0b7abf,
    sky: #38bdf8,
    //blue: #3160c6,
    blue: #3b82f6,
    //indigo: #4f4ecb,
    indigo: #6366f1,
    //violet: #60279c,
    violet: #7a50e6,
    //purple: #7028b8,
    purple: #9b5df6,
    //fuchsia: #9925b0,
    fuchsia: #d946ef,
    //pink: #ad2b70,
    pink: #ec4899,
    //rose: #b33144,
    rose: #f43f5e,
);

$dark-semantic-colors: (
    //primary: #3730a3,
    primary: #6d6ae0,
    //secondary: #4b5563,
    secondary: #6b7280,
    success: #15803d,
    //success: #22c55e,
    danger: #b91c1c,
    //warning: #ca8a04, // amber-600
    warning: #fbbf24,
    //info: #0891b2,      // darker than #06b6d4
    info: #22d3ee,
    //light: #111827,     // darker background
    light: #1f2937,
    dark: #d1d5db,      // darker than #f9fafb
);

// Combined DARK palette
// Merge base semantic colors (used in components)
// with extended palette (utility / optional colors)
$dark-palette-colors: map.merge($dark-semantic-colors, $dark-extended-colors);

//LIGHT OUTLINED THEME COLORS
$light-outlined-extended-colors: (
    //slate: #475569,
    //gray: #4b5563,
    //zinc: #52525b,
    //neutral: #525252,
    //stone: #57534e,

    //Slate	#64748b	medium cool gray, visible on white
    //Gray	#52525b	darker neutral gray
    //Zinc	#3f3f46	darker cool gray
    //Neutral	#737373	medium warm gray
    //Stone	#78716c	warmer, earthy gray

    slate: #64748b,
    gray: #52525b,
    zinc: #3f3f46,
    neutral: #737373,
    stone: #78716c,

    red: #b91c1c,
    orange: #c2410c,
    amber: #d97706,
    yellow: #ca8a04,
    lime: #4d7c0f,
    green: #15803d,
    emerald: #047857,
    teal: #0f766e,
    cyan: #0e7490,
    sky: #0369a1,
    blue: #1d4ed8,
    indigo: #4f46e5,
    violet: #5b2cd6,
    purple: #7321c9,
    fuchsia: #a21caf,
    pink: #be185d,
    rose: #be123c,
);

$light-outlined-semantic-colors: (
    primary: #4c47b8,
    secondary: #6b7280,
    success: #15803d,
    danger: #b91c1c,
    warning: #b77903,
    info: #0ea5e9,
    //light: #f3f4f6,
    light: #d1d5db,
    dark: #111827,
);

// Combined outlined LIGHT palette
// Merge base semantic colors (used in components)
// with extended palette (utility / optional colors)
$light-outlined-palette-colors: map.merge($light-outlined-semantic-colors, $light-outlined-extended-colors);

//DARK OUTLINED THEME COLORS
$dark-outlined-extended-colors: (
    //slate: #94a3b8,
    //gray: #9aa0a6,
    //zinc: #a1a1aa,
    //neutral: #a3a3a3,
    //stone: #a8a29e,

    //Slate	#c0c5d0	slightly cooler / lighter
    //Gray	#adb2b9	neutral, medium-light
    //Zinc	#999ca2	slightly darker, cooler
    //Neutral	#b0b0b0	warmer mid-gray
    //Stone	#a49e93	warmer, earthy tone
    slate: #c0c5d0,
    gray: #adb2b9,
    zinc: #999ca2,
    neutral: #b0b0b0,
    stone: #a49e93,

    red: #ef4444,
    orange: #f97316,
    amber: #f59e0b,
    yellow: #fde047,
    lime: #a3e635,
    green: #22c55e,
    emerald: #10b981,
    teal: #14b8a6,
    cyan: #22cdd9,
    sky: #38bdf8,
    blue: #60a5fa,
    indigo: #7c84f8,
    //violet: #7c3aed,
    violet: #8c63f0,
    //purple: #8b5cf6,
    purple: #ac7dfc,
    fuchsia: #d946ef,
    pink: #ec4899,
    rose: #f43f5e,
);

$dark-outlined-semantic-colors: (
    //primary: #6d6ae0,
    //secondary: #9ca3af,
    //success: #22c55e,
    //danger: #ef4444,
    //warning: #fbbf24,
    //info: #22d3ee,
    //light: #374151,
    //dark: #c0c4c8,
    primary: #7c73f8,
    secondary: #9ca3af,
    success: #22c55e,
    danger: #ef4444,
    warning: #faca30,
    info: #14b8c4,
    light: #4b5563,
    dark: #c0c4c8,
);

// Combined outlined DARK palette
// Merge base semantic colors (used in components)
// with extended palette (utility / optional colors)
$dark-outlined-palette-colors: map.merge($dark-outlined-semantic-colors, $dark-outlined-extended-colors);
