@use '../../abstracts/config' as *;
@use '../../abstracts/mixins' as *;

@use '../../abstracts/palette' as *;
@use 'sass:map';

$button-sizes: (
    xs: (height: 28px, padding-x: 10px, font-size: 0.75rem),
    sm: (height: 32px, padding-x: 12px, font-size: 0.875rem),
    md: (height: 40px, padding-x: 16px, font-size: 0.95rem),
    lg: (height: 48px, padding-x: 20px, font-size: 1rem),
    xl: (height: 56px, padding-x: 24px, font-size: 1.1rem),
);

//$button-sizes: (
//    xs: (height: 28px, padding-x: 10px, font-size: 0.75rem),
//    sm: (height: 32px, padding-x: 12px, font-size: 0.875rem),
//    md: (height: 40px, padding-x: 16px, font-size: 1rem),
//    lg: (height: 48px, padding-x: 20px, font-size: 1.125rem),
//    xl: (height: 56px, padding-x: 24px, font-size: 1.25rem),
//);

@mixin intent-vars($palette) {
    @each $step, $value in $palette {
        --intent-#{$step}: #{$value};
    }
}

@keyframes dru-spin {
    to {
        transform: rotate(360deg);
    }
}

$intents: (brown, primary, secondary, info, warning, success, danger);
$intent-palette-map: (
    brown: $yellow,
    primary: $blue,
    secondary: $slate,
    info: $cyan,
    warning: $amber,
    success: $green,
    danger: $red,
);

//@mixin radius($only: null, $setRadius: null) {
//    @each $size, $radius in $radiuses {
//        $final-radius: $setRadius;
//        @if ($final-radius == null) {
//            $final-radius: $radius;
//        }
//
//        &#{$p}#{'radius-' + $size} {
//            @if ($only == 'left') {
//                border-top-left-radius: $final-radius;
//                border-bottom-left-radius: $final-radius;
//            } @else if ($only == 'top') {
//                border-top-left-radius: $final-radius;
//                border-top-right-radius: $final-radius;
//            } @else if ($only == 'right') {
//                border-top-right-radius: $final-radius;
//                border-bottom-right-radius: $final-radius;
//            } @else if ($only == 'bottom') {
//                border-bottom-left-radius: $final-radius;
//                border-bottom-right-radius: $final-radius;
//            } @else {
//                border-radius: $final-radius;
//            }
//        }
//    }
//}

.dru--button-group {
    display: inline-flex;

    &--orientation-vertical {
        flex-direction: column;

        //.dru--button:not(:last-child) {
        //    border-bottom: none;
        //}

        .dru--button:not(:last-child):not(.dru--button--active) {
            border-bottom: none;
        }
        .dru--button.dru--button--active:not(:last-child):has(+ .dru--button--active) {
            border-bottom: none;
        }
        .dru--button--active + .dru--button:not(.dru--button--active) {
            border-top: none;
        }
    }

    &--orientation-horizontal {
        flex-direction: row;

        //.dru--button:not(:last-child):not(.dru--button--active) {
        //    border-right: none;
        //}
        //.dru--button:not(:last-child)
        //:not(.dru--button--active)
        //:has(+ .dru--button:has(.dru--button--active)) {
        //    border-right: none;
        //}
        .dru--button:not(:last-child):not(.dru--button--active) {
            border-right: none;
        }
        .dru--button.dru--button--active:not(:last-child):has(+ .dru--button--active) {
            border-right: none;
        }
        .dru--button--active + .dru--button:not(.dru--button--active) {
            border-left: none;
        }
    }

    &--full-width {
        display: flex;
        width: 100%;

        .dru--button {
            flex: 1;
        }
    }

    &--equal-width {
        display: flex;

        .dru--button {
            flex: 1;
        }
    }

    .dru--button {
        position: relative;

        &:focus,
        &:focus-visible,
        &.is-active {
            z-index: 2;
        }
        &:hover {
            z-index: 3;
        }
    }
}

.dru--button {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--dru-button-gap, 0.5rem);

    font-family: inherit;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;

    border: 1px solid var(--dru-button-border);
    //border-radius: var(--dru-button-radius, 0.5rem);

    cursor: pointer;
    user-select: none;
    text-decoration: none;

    background-color: var(--dru-button-bg);
    color: var(--dru-button-text);
    //border-color: var(--dru-button-border);

    transition: background-color 0.15s ease,
    color 0.15s ease,
    border-color 0.15s ease,
    box-shadow 0.15s ease;

    &--loading {
        pointer-events: none;
        cursor: wait;
        position: relative;

        &::before,
        &::after {
            content: '';
            pointer-events: none;

            width: 1em;
            height: 1em;

            border: 0.12em solid currentColor;
            border-right-color: transparent;
            border-radius: 50%;

            animation: dru-spin 0.6s linear infinite;
        }

        // hide both by default
        &::before,
        &::after {
            display: none;
        }
    }

    &--loading-center {
        &::after {
            display: block;
            position: absolute;
            inset: 0;
            margin: auto;
        }

        .dru--button__content {
            visibility: hidden;
        }
    }

    &--loading-start {
        &::before {
            display: inline-block;
            margin-right: 0.5em;
        }
    }

    &--loading-end {
        &::after {
            display: inline-block;
            margin-left: 0.5em;
        }
    }

    //&:focus-visible {
    //    outline: none;
    //    box-shadow: 0 0 0 2px var(--dru-focus-ring, rgba(0, 0, 0, 0.2));
    //}

    > svg,
    > .MuiSvgIcon-root {
        width: 1.2em;
        height: 1.2em;
        //width: 1em;
        //height: 1em;
        //width: 1em;
        //height: 1em;
        font-size: 1em;
        display: block;
    }

    &:focus-visible {
        outline: 2px solid var(--dru-button-ring);
        outline-offset: 2px;
    }

    &--no-interaction {
        cursor: default;

        // 🔥 kill interactions
        pointer-events: none;

        filter: none;
        text-decoration: none;

        // optional: remove transitions if you want it fully static
        transition: none;
    }

    //&:disabled,
    &.dru--button--disabled {
        cursor: not-allowed;
        opacity: 0.7;

        // 🔥 kill ALL interaction styles
        text-decoration: none;
        filter: none;

        //--dru-button-bg-hover: var(--dru-button-bg);
    }

    &--icon-only {
        padding: 0;
        aspect-ratio: 1;
        > svg,
        > .MuiSvgIcon-root {
            width: 1.2em;
            height: 1.2em;
        }
    }

    &__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    &--numeric {
        font-variant-numeric: tabular-nums;
        padding-inline: 0;
        aspect-ratio: 1;
        &.dru--button--long {
            aspect-ratio: auto;
            padding: 0 0.5rem;
        }
    }

    @each $size, $props in $button-sizes {
        &--size-#{$size} {
            height: map-get($props, height);
            padding: 0 map-get($props, padding-x);
            font-size: map-get($props, font-size);
        }
    }

    &:not(.dru--button--static):not(:disabled) {
        &:hover {
            --dru-button-bg: var(--dru-button-bg-hover);
        }
    }

    // OUTLINED
    &--outlined {
        --dru-button-bg: transparent;
    }

     //SUBTLE (always has background)
    &--subtle {
        --dru-button-bg: var(--dru-button-bg-subtle);
        --dru-button-border: transparent;
        --dru-button-bg-subtle-hover: transparent;
    }

     //GHOST (no bg, only on hover)
    &--ghost {
        --dru-button-bg: transparent;
        --dru-button-border: transparent;
    }

     //LINK
    &--link {
        --dru-button-bg: none;
        border: none;
        padding: 0;
        height: auto;

        color: var(--dru-button-text);

        &:not(.dru--button--static):not(:disabled) {
            &:hover {
                text-decoration: underline;
            }
        }
    }



    @each $intent in $intents {
        &--#{$intent}{
            @include intent-vars(map.get($intent-palette-map, $intent));

            //--dru-button-ring: rgba(37, 99, 235, 0.6);
            --dru-button-ring: var(--intent-600);

            &.dru--button--solid {
                --dru-button-bg: var(--intent-600);
                --dru-button-bg-hover: var(--intent-700);
                --dru-button-text: #fff;
                --dru-button-border: transparent;

                &:not(:disabled):not(.dru--button--disabled) {
                    &:active {
                        filter: brightness(0.95);
                    }
                }

                &.dru--button--active {
                    --dru-button-bg: var(--intent-800);
                    --dru-button-bg-hover: var(--intent-900);

                    &:not(:disabled):not(.dru--button--disabled) {
                        &:hover {
                            --dru-button-bg-hover: var(--intent-800);
                        }

                        &:active {
                            filter: brightness(0.95);
                        }
                    }
                }
            }

            &.dru--button--base {
                --dru-button-bg: var(--intent-200);
                --dru-button-bg-hover: var(--intent-300);
                --dru-button-text: var(--intent-900);
                --dru-button-border: var(--intent-400);

                &:not(:disabled):not(.dru--button--disabled) {
                    &:active {
                        filter: brightness(0.97);
                    }
                }

                &.dru--button--active {
                    --dru-button-bg: var(--intent-300);
                    --dru-button-bg-hover: var(--intent-400);
                    --dru-button-border: var(--intent-500);

                    &:not(:disabled):not(.dru--button--disabled) {
                        &:hover {
                            --dru-button-bg-hover: var(--intent-300);
                        }

                        &:active {
                            filter: brightness(0.97);
                        }
                    }
                }
            }

            //&.dru--button--outlined {
            //    --dru-button-bg: transparent;
            //    --dru-button-bg-hover: var(--intent-100);
            //    --dru-button-text: var(--intent-600);
            //    --dru-button-border: var(--intent-300);
            //
            //    &:not(:disabled):not(.dru--button--disabled) {
            //        &:hover {
            //            --dru-button-border: var(--intent-600);
            //        }
            //
            //        &:active {
            //            filter: brightness(0.98);
            //        }
            //    }
            //
            //    &.dru--button--active {
            //        --dru-button-bg: var(--intent-100);
            //        --dru-button-border: var(--intent-600);
            //        --dru-button-text: var(--intent-700);
            //
            //        &:not(:disabled):not(.dru--button--disabled) {
            //            &:hover {
            //                --dru-button-bg-hover: var(--intent-100);
            //            }
            //
            //            &:active {
            //                filter: brightness(0.98);
            //            }
            //        }
            //    }
            //}

            &.dru--button--outlined {
                --dru-button-bg: transparent;
                --dru-button-bg-hover: var(--intent-100);
                --dru-button-text: var(--intent-600);
                --dru-button-border: var(--intent-300);

                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    inset: -1px;
                    border-radius: inherit;

                    border: 1px solid transparent;
                    pointer-events: none;

                    opacity: 0;
                    transition: border-color 0.15s ease, opacity 0.15s ease;
                }

                &:not(:disabled):not(.dru--button--disabled) {
                    &:hover::after {
                        border-color: var(--intent-500); // smoother jump
                        opacity: 1;
                    }

                    &:active {
                        filter: brightness(0.98);
                    }
                }

                &.dru--button--active {
                    --dru-button-bg: var(--intent-100);
                    --dru-button-border: var(--intent-600);
                    --dru-button-text: var(--intent-700);

                    &:not(:disabled):not(.dru--button--disabled) {
                        &:hover {
                            --dru-button-bg-hover: var(--intent-100);
                        }

                        &:hover::after {
                            border-color: var(--intent-600); // stable
                            opacity: 1;
                        }

                        &:active {
                            filter: brightness(0.98);
                        }
                    }
                }
            }

            // 🔥 Ghost now covers "subtle-ish" usage
            &.dru--button--ghost {
                --dru-button-bg: transparent;
                --dru-button-bg-hover: var(--intent-100);
                --dru-button-text: var(--intent-600);

                &:not(:disabled):not(.dru--button--disabled) {
                    &:hover {
                        --dru-button-text: var(--intent-700);
                    }

                    &:active {
                        filter: brightness(0.99);
                    }
                }

                &.dru--button--active {
                    --dru-button-bg: var(--intent-100);
                    --dru-button-text: var(--intent-700);

                    &:not(:disabled):not(.dru--button--disabled) {
                        &:active {
                            filter: brightness(0.99);
                        }
                    }
                }
            }

            &.dru--button--link {
                --dru-button-text: var(--intent-600);

                &:not(:disabled):not(.dru--button--disabled) {
                    &:hover {
                        --dru-button-text: var(--intent-700);
                        text-decoration: underline;
                    }

                    &:active {
                        filter: brightness(0.97);
                    }
                }

                &.dru--button--active {
                    --dru-button-text: var(--intent-800);

                    &:not(:disabled):not(.dru--button--disabled) {
                        text-decoration: underline;

                        &:active {
                            filter: brightness(0.97);
                        }
                    }
                }
            }

            @include dark {
                --dru-button-ring: var(--intent-400); // lighter for dark bg

                &.dru--button--solid {
                    --dru-button-bg: var(--intent-500);
                    --dru-button-bg-hover: var(--intent-400);
                    --dru-button-text: #0b1220;
                    --dru-button-border: transparent;

                    &:not(:disabled):not(.dru--button--disabled) {
                        &:active {
                            filter: brightness(1.08);
                        }
                    }

                    &.dru--button--active {
                        --dru-button-bg: var(--intent-600);
                        --dru-button-bg-hover: var(--intent-500);

                        &:not(:disabled):not(.dru--button--disabled) {
                            &:hover {
                                --dru-button-bg-hover: var(--intent-600);
                            }

                            &:active {
                                filter: brightness(1.08);
                            }
                        }
                    }
                }

                &.dru--button--base {
                    --dru-button-bg: var(--intent-900);
                    --dru-button-bg-hover: var(--intent-700);
                    --dru-button-text: var(--intent-200);
                    --dru-button-border: var(--intent-500);

                    &:not(:disabled):not(.dru--button--disabled) {
                        &:active {
                            filter: brightness(1.05);
                        }
                    }

                    &.dru--button--active {
                        --dru-button-bg: var(--intent-700);
                        --dru-button-bg-hover: var(--intent-500);
                        --dru-button-border: var(--intent-400);

                        &:not(:disabled):not(.dru--button--disabled) {
                            &:hover {
                                --dru-button-bg-hover: var(--intent-700);
                            }

                            &:active {
                                filter: brightness(1.05);
                            }
                        }
                    }
                }

                //&.dru--button--outlined {
                //    --dru-button-bg: transparent;
                //    --dru-button-bg-hover: color-mix(in srgb, var(--intent-500) 15%, transparent);
                //    --dru-button-text: var(--intent-400);
                //    --dru-button-border: var(--intent-500);
                //
                //    &:not(:disabled):not(.dru--button--disabled) {
                //        &:hover {
                //            --dru-button-border: var(--intent-300);
                //        }
                //
                //        &:active {
                //            filter: brightness(1.05);
                //        }
                //    }
                //
                //    &.dru--button--active {
                //        --dru-button-bg: color-mix(in srgb, var(--intent-500) 20%, transparent);
                //        --dru-button-border: var(--intent-300);
                //        --dru-button-text: var(--intent-200);
                //
                //        &:not(:disabled):not(.dru--button--disabled) {
                //            &:hover {
                //                --dru-button-bg-hover: color-mix(in srgb, var(--intent-500) 20%, transparent);
                //            }
                //
                //            &:active {
                //                filter: brightness(1.05);
                //            }
                //        }
                //    }
                //}

                &.dru--button--outlined {
                    --dru-button-bg: transparent;
                    --dru-button-bg-hover: color-mix(in srgb, var(--intent-500) 15%, transparent);
                    --dru-button-text: var(--intent-400);
                    --dru-button-border: var(--intent-500);

                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        inset: -1px;
                        border-radius: inherit;

                        border: 1px solid transparent;
                        pointer-events: none;

                        transition: border-color 0.15s ease, opacity 0.15s ease;
                        opacity: 0;
                    }

                    &:not(:disabled):not(.dru--button--disabled) {
                        &:hover::after {
                            border-color: var(--intent-300);
                            opacity: 1;
                        }

                        &:active {
                            filter: brightness(1.05);
                        }
                    }

                    &.dru--button--active {
                        --dru-button-bg: color-mix(in srgb, var(--intent-500) 20%, transparent);
                        --dru-button-border: var(--intent-300);
                        --dru-button-text: var(--intent-200);

                        &:not(:disabled):not(.dru--button--disabled) {
                            &:hover::after {
                                border-color: var(--intent-200);
                                opacity: 1;
                            }

                            &:active {
                                filter: brightness(1.05);
                            }
                        }
                    }
                }

                &.dru--button--ghost {
                    --dru-button-bg: transparent;
                    --dru-button-bg-hover: color-mix(in srgb, var(--intent-500) 15%, transparent);
                    --dru-button-text: var(--intent-400);

                    &:not(:disabled):not(.dru--button--disabled) {
                        &:hover {
                            --dru-button-text: var(--intent-300);
                        }

                        &:active {
                            filter: brightness(1.03);
                        }
                    }

                    &.dru--button--active {
                        --dru-button-bg: color-mix(in srgb, var(--intent-500) 20%, transparent);
                        --dru-button-text: var(--intent-200);

                        &:not(:disabled):not(.dru--button--disabled) {
                            &:active {
                                filter: brightness(1.03);
                            }
                        }
                    }
                }

                &.dru--button--link {
                    --dru-button-text: var(--intent-400);

                    &:not(:disabled):not(.dru--button--disabled) {
                        &:hover {
                            --dru-button-text: var(--intent-300);
                            text-decoration: underline;
                        }

                        &:active {
                            filter: brightness(1.05);
                        }
                    }

                    &.dru--button--active {
                        --dru-button-text: var(--intent-200);

                        &:not(:disabled):not(.dru--button--disabled) {
                            text-decoration: underline;

                            &:active {
                                filter: brightness(1.05);
                            }
                        }
                    }
                }
            }

        }
        //}
    }
}